/* style.css */
.root {
    -fx-base: #1e1e1e;
    -fx-control-inner-background: #1e1e1e;
    -fx-background-color: #1e1e1e;
    -fx-font-family: 'Segoe UI', sans-serif;
}

/* Wykresy */
.chart {
    -fx-padding: 10px;
    -fx-background-color: #252526;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
}
.chart-plot-background {
    -fx-background-color: #1e1e1e;
}
.axis-label {
    -fx-text-fill: #b0b0b0;
}

/* Log systemowy (Konsola) */
.list-view {
    -fx-background-color: #111;
    -fx-border-color: #333;
    -fx-font-family: 'Consolas', monospace;
}
.list-cell {
    -fx-text-fill: #00ff41; /* Hacker Green */
    -fx-padding: 3px;
}
.list-cell:filled:selected, .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #333;
}

/* Tabela */
.table-view {
    -fx-background-color: #252526;
    -fx-border-color: transparent;
}
.column-header-background {
    -fx-background-color: #333;
}
.column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Przyciski */
.button {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #0098ff;
}
.button.danger {
    -fx-background-color: #d32f2f;
}